<!DOCTYPE html>
<html>
<head>
	<title>Refinitiv</title>
	<!-- <link rel="shortcut icon" type="image/png" href="/images/aipc-logo.png" class="logo"> -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
	<header class="user_header"><a href="/"><h1>Refinitiv Forex</h1></a></header>
	<div id="user_body">
		<p>Your request is submitted successfully. Your transaction id is {{transaction_id}}. Please save the transaction id for future reference.</p>
		<p><a href="/">Click here</a> to return.</p>
	</div>
</body>
</html>