<!DOCTYPE html>
<html>
<head>
	<title>Refinitiv</title>
	<!-- <link rel="shortcut icon" type="image/png" href="/images/aipc-logo.png" class="logo"> -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
	<header>
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<a href="/hq"><h1>Refinitiv Forex</h1></a>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" id="btn_div">
				<button type="button" data-toggle="modal" data-target="#myModal">
					<i class="fa fa-user-plus" aria-hidden="true"></i>
				</button>
				<button type="button" data-toggle="modal" data-target="#upload">
					<i class="fa fa-upload" aria-hidden="true"></i>
				</button>
				<i class="fa fa-envelope" aria-hidden="true"></i><sup>{{count}}</sup>
				<a href="/hq/report"><i class="fa fa-file-text" aria-hidden="true"></i></a>
				<a href="/hq/logout"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
			</div>
		</div>
	</header>
	<!-- Add User -->
	<div id="myModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Modal Header</h4>
				</div>
				<div class="modal-body">
					<form>
						<input type="text" name="name" placeholder="Enter Name"><br>
						<input type="email" name="email" placeholder="Enter Email Address"><br>
						<input type="text" name="password" placeholder="Enter Password"><br>
						<button class="btn btn-success" type="submit">Submit</button>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Add User -->
	<!-- Upload -->
	<div id="upload" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Upload Rates/Branches Info</h4>
				</div>
				<div class="modal-body">
					<form>
						<input type="file" name="file"><br>
						<button class="btn btn-success" type="submit">Submit</button>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Upload -->
	<div class="row" id="body">
        <h4>Total Sell Amount(in Thai Baht): {{sell}}</h4>
        <h4>Total Buy Amount(in Thai Baht): {{buy}}</h4>
		<h3>Transactions Details(in Thai Baht):</h3>
		<table id="report_table">
			<tr>
				<th>Transaction id</th>
				<th>Date & Time</th>
				<th>Client Name</th>
				<th>Branch</th>
				<th>Position</th>
				<th>Currency</th>
				<th>Amount</th>
				<th>FX Rate from HQ</th>
				<th>Fx Rate after applying Spread</th>
				<th>Final Amount in Thai Baht</th>
			</tr>
            {% for row in data %}
            <tr>
                <td>{{row.transaction_id}}</td>
                <td>{{row.timestamp}}</td>
                <td>{{row.name}}</td>
                <td>{{row.branch_id}}</td>
                <td>{{row.position}}</td>
                <td>{{row.currency}}</td>
                <td>{{row.amount}}</td>
                <td>{{row.fx_rate_hq}}</td>
                <td>{{row.fx_rate_spread}}</td>
                <td>{% widthratio row.fx_rate_spread 1 row.amount %}</td>
            </tr>
            {% endfor %}
		</table>
	</div>
</body>
</html>